html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-image: url('https://get.wallhere.com/photo/tofu-anime-girls-black-background-red-eyes-black-hair-minimalism-Chinese-Japanese-Art-Yuki-Aim-2125253.jpg');
    background-size: cover;
    font-family: "Inconsolata", monospace;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3{
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    width: 100%;
    height: 18%;
    justify-content: center;
}

.hd-cnt-global{
    display: flex;
    width: 84%;
    height: 75%;
    border-radius: 4vh;
    margin-top: 2%;
    background-color: #cba3ff36;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.hd-content-logo{
    width: 25%;
    display: flex;
    height: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}


.hd-content-start{
    width: 15%;
    display: flex;
    height: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

nav{
    width: 60%;
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 0;
    gap: 2%;
    flex-direction: row-reverse;
    align-items: center;
}

ul li{
    list-style: none;
    position: relative;
    width: 14%;
    text-align: center;
    align-items: center;
}

ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2%;
    width: 0;
    height: 8%; 
    background-color: rgb(166, 92, 235);
    transition: width 0.5s ease, left 0.5s ease;
}

ul li:hover::after {
    width: 100%;
    left: 0;
}

ul li a{
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    font-weight: 600;
    text-align: center;
}

ul:hover li a{
    color: rgb(166, 92, 235);
}

ul:hover li a:not(:hover){
    color: white;
    opacity: 1%;
    filter: blur(2%);
}

.title{
    font-size: 1.2rem;
}

header button{
    border: none;
    background-color: rgba(93, 44, 128, 0.427);
    filter: blur(2%);
    color: white;
    font-size: 1rem;
    width: 60%;
    height: 40%;
    font-family: "Inconsolata", monospace;
    border-radius: 1.4vh;
    transition: box-shadow 0.3s ease;
}

header button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

main{
    display: flex;
    width: 100%;
    height: 82%;
    flex-direction: row-reverse;
}

.mn-cnt-global{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mn-cnt-seccion-present{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.scn-pnt-seccion-one{
    width: 100%;
    display: flex;
    height: 15%;
}

.scn-one-title{
    display: flex;
    backdrop-filter: blur(5px);
    background-color: #cba3ff36;
    height: 100%;
    width: 32%;
    justify-content: center;
    border-radius: 1.2vh;
    align-items: center;
}

.scn-pnt-seccion-two{
    height: 85%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flexbox;
    align-items: center;
}

main h2{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

main h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    width: 100%;
} 

main button{
    margin: 0;
    padding: 0;
    color: white;
    border: none;
}

main button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.btn-more{
    width: 16%;
    background-color: #593e7d;
    height: 16%;
    font-size: 1.1rem;
    border-radius: 1.2vh;
    margin-top: 2%;
}

.mn-cnt-seccion-btn{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4%;
}

.btn-one{
    height: 45%;
    width: 16%;
    background-color: #593e7d;
    border-radius: 1.2vh;
    margin: 5% 0 0 0;
}

.btn-two{
    background-color: #593e7d;
    height: 45%;
    width: 16%;
    margin: 5% 12% 0 0;
    border-radius: 1.2vh;
}